.logo{
	width: 165px;
	height: 58px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
}
.menu{
	font-size: 16px;
	text-align: center;
	margin-top: 60px;  
    margin-bottom: 60px;	
}
.link{
	font-family: "Helvetica";
	color: #58595B;
    text-decoration: none;
    margin-right: 10px;
    margin-left:  10px;
}
.mainPicture{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 90%;	
}